@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    IgnoreBody();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASPort</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
    <nav class="container-fluid navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white mb-3">
        <div class="container">

            <a class="navbar-brand" href="#">
                <img class="align-text-bottom" src="~/img/ASPort100x75.jpg" alt="ASPort Logo">
                <span class="text-decoration-underline text-align-middle text-muted">ASPort</span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @* <li class="nav-item"> *@
                    @*     <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a> *@
                    @* </li> *@
                    @* <li class="nav-item"> *@
                    @*     <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
                    @* </li> *@
                </ul>
            </div>
        </div>
    </nav>

<main role="main">
    <section class="jumbotron text-center" id="jumbotron" aria-label="Jumbotron">
        <div class="container">
            <h1 aria-label="Jumbo Text: Coming soon">Coming Soon...</h1>
        </div>
    </section>

    <div class="album py-2">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="card">
                        <div class="card-header text-center">
                            Site Undergoing Maintenance
                        </div>
                        <img class="card-img-top mx-auto" src="~/img/ASPport250x200.png" style="width: 250px" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-text text-center mb-5">Sorry, we're down for scheduled maintenance right now...'</h4>
                           
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>
</main>

<footer class="mt-4 bg-secondary">
            <div class="container-fluid text-center text-md-left">
                <div class="row">
                    <div class="col-md-12 bg-primary text-light text-center pt-2 pb-2 mb-3">
                        <span>Newsletter placeholder</span>
                    </div>
                    <div class="col-md-5 text-white pl-5">
                        <h5 class="text-uppercase text-white" aria-label="Footer Content Shop Details">Footer Left</h5>

                        
                        <ul class="list-unstyled">
                            <li>
                                <i class="fa fa-phone"></i>
                                <span class="pl-3" aria-label="phone number: 01616263687">Some number</span>
                            </li>
                            <li>
                                <i class="fa fa-paper-plane"></i>
                                <span class="pl-3" aria-label="Amirshaw@hotmail.co.uk">Some Email</span>
                            </li>
                            <li>
                                <i class="fa fa-clock-o"></i>
                                <span class="pl-3" aria-label="Random times">
                                    Some random times
                                </span>
                                <span class="pl-3" aria-label="Random times">Random times</span>
                            </li>
                            <li>
                                <i class="fa fa-map-marker"></i>
                                <span class="pl-3" aria-label="Some address">
                                    Some random address
                                </span>
                            </li>
                        </ul>
                    </div>
                    <hr class="clearfix w-100 d-md-none pb-3">
                    <div class="col-md-3 mb-md-0 mb-3">
                        <h5 class="text-uppercase text-white" aria-label="Links Navigation">Mid Nav</h5>
                        <ul class="list-unstyled text-white" id="footerLinks">
                        </ul>
                    </div>
                    <div class="col-md-3 mb-md-0 mb-3 text-white">
                        <h5 class="text-uppercase" aria-label="Information Navigation">Right Nav</h5>
                        <ul class="list-unstyled">
                            <li>
                                <a class="text-white" id="aboutUs" href="#">About Us</a>
                            </li>
                            <li>
                                <a class="text-white" id="contactUs" href="#">Contact Us</a>
                            </li>
                            <li>
                                <a class="text-white" id="deliveryInfo" href="#">Delivery Info</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright text-center py-3 text-white" aria-label="2020 Copyright">
                © 2020 Copyright:
                <a href="#" class="text-white" aria-label="Website StayStrong.com"> ASPort (amHeres.co.uk)</a>
            </div>
        </footer>
    

</html>